```java
class swap{
    public static void main(){
    int a=3,b=4;
    int temp;
    temp=a;
    a=b;
    b=temp;
    }
}
```

In [2]:
x,y = 10,20
x,y = y,x
print(x," ",y)

20   10

In [3]:
x=3

In [4]:
print(x)
print(type(x))

3
<class 'int'>

In [5]:
x=7.5
print(type(x))

<class 'float'>

In [6]:
a="abc"
b='abc'
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [7]:
x='''
abc
asd'''
print(x)

abc
asd

In [8]:
type(True)

bool

In [9]:
type(False)

bool

In [10]:
#single line comment
'''
multi
line
comment
'''

'\nmulti\nline\ncomment\n'

In [11]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [14]:
def main():
        print("Hi")
        if __name__==' name '
main()

Hi

In [15]:
print(__name__)

__main__

In [16]:
list1=[1,2,3,"abc",3.5]
type(list1)

list

In [17]:
len(list1)

5

In [20]:
for e,i in enumerate(list1,20):
        print(e," : ",i)

20  :  1
21  :  2
22  :  3
23  :  abc
24  :  3.5

In [21]:
a=[1,2,2,2,2,3,1,2,2,3,4,5,5,4,1]
set(a)

{1, 2, 3, 4, 5}

In [22]:
{1,2,2,3,4}

{1, 2, 3, 4}

In [23]:
d={
    "name":"Harsh",
    "age":20,
    "Country":"India"
}
type(d)

dict

In [24]:
d.keys()

dict_keys(['name', 'age', 'Country'])

In [25]:
d.values()

dict_values(['Harsh', 20, 'India'])

In [27]:
for key,value in d.items():
        print("{} is {}".format(key,value))

name is Harsh
age is 20
Country is India

In [28]:
a=[1,2,2,2,3,4,5,100000]
print(min(a))
print(max(a))
set(a)

1
100000

{1, 2, 3, 4, 5, 100000}

#